.row1Modif{
	height:150px;
}

.indexPanelModif{
	border: solid black gold;
}

.fondoVerde{
	background-color: green
}


.fotoLogoHeader{
	width:150px;
	height: 50px;

}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.navbar{
    margin:0 !important;
}
